body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('wallpaper.webp'); 
    background-size: cover; /* Make the background image cover the entire page */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix the background image in place */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    position: relative; /* Create a stacking context */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.monster-images {
    position: absolute;
    left: 0;
    top: 250px; /* Adjust this value to move the images down */
    display: flex;
    flex-direction: column;
    gap: 50px; /* Adjust the gap between images as needed */
    z-index: 2;
    margin-left: 50px;
}

.monster-images img {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

#papir {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: auto;
    position: relative;
}

.number {
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 50px;
}

#displayArea {
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    z-index: 1; /* Ensure it is above the papir image */
    padding: 10px; /* Optional: Add padding for better readability */
}

#title {
    position: absolute;
    top: 40px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

#nextPage {
    position: absolute;
    right: -30px; /* Adjust this value to move the image to the right */
    top: 50%;
    transform: translateY(-50%);
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 2;
}

#previousPage {
    position: absolute;
    left: -30px; /* Adjust this value to move the image to the left */
    top: 50%;
    transform: translateY(-50%);
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 2;
}