body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('wallpaper.webp'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    position: relative; 
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.monster-images {
    position: absolute;
    left: 0;
    top: 250px; 
    display: flex;
    flex-direction: column;
    gap: 80px; 
    z-index: 2;
    margin-left: 50px;
}

.monster-images img {
    width: 300px; 
    height: auto; 
}

#DisplayAreaRajang {
    width: 300px; 
    margin-top: -375px; 
    text-align: left; 
    margin-left: 400px; 
    font-size: 25px; 
    font-weight: bold; 
}

#DisplayAreaKushala {
    width: 300px; 
    margin-top: -375px; 
    text-align: left; 
    margin-left: 400px; 
    font-size: 25px; 
    font-weight: bold; 
}

#DisplayAreaTeostra {
    width: 300px; 
    margin-top: -375px; 
    text-align: left; 
    margin-left: 400px; 
    font-size: 25px; 
    font-weight: bold; 
}

#DisplayAreaVelkana{
    width: 300px; 
    margin-top: -375px; 
    text-align: left; 
    margin-left: 400px; 
    font-size: 25px; 
    font-weight: bold; 
}

#nextPage {
    position: absolute;
    right: -30px; 
    top: 50%;
    transform: translateY(-50%);
    width: 100px; 
    height: auto; 
    z-index: 2;
}

#papir {
    width: 100%; 
    height: auto; 
    display: block;
    margin: auto;
    position: relative;
}

.number {
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 50px; 
    height: auto; 
    margin-right: 50px;
}

#displayArea {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    height: auto; 
    z-index: 1; 
    padding: 10px; 
}

#title {
    position: absolute;
    top: 40px; 
    left: 50%;
    transform: translateX(-50%);
    width: 50%; 
    height: auto; 
}

#previousPage {
    position: absolute;
    left: -30px; 
    top: 50%;
    transform: translateY(-50%);
    width: 100px; 
    height: auto; 
    z-index: 2;
}